<!Doctype HTML>
<html>
	<head>
		<meta charset=utf8>
		<title>TestCase</title>
		{% block head %}
		{% endblock %}
	</head>
	<body>
		<h1>TestCase</h1>
		<nav>
			<ul>
				<li>Is authenticated: {{ user.is_authenticated }}</li>
				<li>Is staff: {{ user.is_staff }}</li>
				<li>Is superuser: {{ user.is_superuser }}</li>
			</ul>
			<ul>
				{% if 'announcements.add_announcement' of None %}
				<li><a href="{% reverse 'announcements-announcement-create' %}">Create new announcement</a></li>
				{% endif %}
				{% if object and 'announcements.change_announcement' of object %}
				<li><a href="{% reverse 'announcements-announcement-update' object.pk %}">Update this announcement</a></li>
				{% endif %}
				{% if object and 'announcements.delete_announcement' of object %}
				<li><a href="{% reverse 'announcements-announcement-delete' object.pk %}">Delete this announcement</a></li>
				{% endif %}
			</ul>
		</nav>
		{% block content %}
		{% endblock %}
	</body>
</html>